/*.header{
    height: 65px;
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
}*/
.container
{
    margin-top: 2rem;
    font-size: 17px;
    text-transform: uppercase;
    color: aliceblue;
}
.row .item
{
    width: 19.999%;
    text-align: center;
}
.pizza
{
    background-color: rgb(196, 22, 28);
}
.promocao
{
    background-color: rgb(37, 37, 37);
}
.focaccella
{
    background-color: rgb(223, 168, 31);
}
.focaccia
{
    background-color: rgb(28, 28, 99);
}
.bottoncino
{
    background-color: rgb(69, 110, 28);
}
.pizza img
{
    color: #FFF;
}