/*STYLES*/
body
{
  background-color: #da4b09f8;
}
.header{
  height: 65px;
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 3rem 4rem 2rem 4rem;
  box-shadow: 0 9px 7px -1px rgba(0, 0, 0, 0.1);
  background: #fff;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
  border-radius: 15px;
  overflow: hidden;
  z-index: 0;
}
.card.focaccella
{
  margin-top: 6rem;
}
.card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.card .description h1 
{
  padding-bottom: 15px;
  font-family: Poppins, Helvetica, sans-serif;
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  border-bottom: 2px solid #e28204;
  width: 55%;
  color: #404040;

}
.card p {
  position: relative;
  margin: 1rem 0 0;
  color: #404040;
}
.card p:first-of-type {
  margin-top: 1.25rem;
}
@media (min-width: 640px) {
  .card {
    flex-direction: row;
    max-width: 0 auto;
  }
  .card .meta {
    flex-basis: 60%;
    height: auto;
  }
  .card .description {
    flex-basis: 60%;
  }
  .card.alt {
    flex-direction: row-reverse;
  }
  .card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .card.alt .details {
    padding-left: 25px;
  }
}
.card.focaccia
{
  flex-direction: row-reverse;
}